@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.header {
    background-color: #1F2937;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-bottom: 90px;
    height: 70px;
}

.navbar p, a{
    font-size: 19px;
    color: #E5E7EB;

}

.navbar p {
    font-weight: 600;
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}

.header-info {
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.header-subtext h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FaF8;
}

.header-subtext p{
    font-size: 18px;
    color: #c9c8c8;
}

.header-info button {
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 13px;
    font-size: 16px;
    border-radius: 10px;
}

.information-section h1{
    padding: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}


.information-section {
    height: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rectangle {
    width: 150px;
    height: 100px;
    border: 5px solid #2196F3;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 15px;
}
.rectangles{
    display: flex;
    gap: 3px;

}

.rectangle-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subtext {
    max-width: 150px;
}


.quote-section{
    background-color: #E5E7EB;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    max-width: 700px;
}


.quote-section h3{
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: end;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
   
   
  }


.card {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 30px;
}

.button-container button{
    align-self: center;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-weight: 400px;
    background-color: #3882F6;
    border-color: white;
    border: 2px solid white;

}


.card-text h1{
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.card-text h3 {
    font-size: 15px;
    color: white;
    font-weight: 500;
}






